# exclude file extensions
*.webprj
*.session
*.bak
*~
*.tmp
*.lst
*.log
*.aux
*.bbl
*.backup
*.blg
*.brf
*.out
_*.sas
*.eml
*0.sas
.titles
.mactitles
.versions
.xref
# special files
tags
Distfile
HEADER
Makefile
.dir.*
*-save.sas
# exclude directories
mtest/
Private/
RCS/
RESTORE/
in/
old/
eda/
einar/
pod/

